<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kriti.android3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android3"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DisplayStudents"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewStudents"
            android:exported="true">
        </activity>
        <activity
            android:name=".MyContext"
            android:exported="true"></activity>
        <activity
            android:name=".StudentInf"
            android:exported="true" />
        <activity
            android:name=".InsertStudents"
            android:exported="true" />
        <activity
            android:name=".IgClone"
            android:exported="true" />
        <activity
            android:name=".RecyclerDemo"
            android:exported="true" />
        <activity
            android:name=".FileHandling"
            android:exported="true" />
        <activity
            android:name=".CustomList"
            android:exported="true" />
        <activity
            android:name=".StudentsList"
            android:exported="true" />
        <activity
            android:name=".Welcome"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>